root = "."
tmp_dir = "./tmp/air"

[build]
args_bin = []
cmd = "go build -o ./tmp/air/main ./cmd/api/main.go"
delay = 1000
exclude_dir = ["tmp", "_docs", "db", "_env", ".vscode", "certs", "bin"]
exclude_file = []
exclude_regex = ["_test\\.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = "./tmp/air/main"
include_dir = []
include_ext = ["go", "tpl", "tmpl", "html"]
include_file = []
kill_delay = "0s"
log = "air.log"
poll = false
poll_interval = 0
post_cmd = []
pre_cmd = []
rerun = false
rerun_delay = 500
send_interrupt = false
stop_on_error = true

[color]
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
time = true

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = false
keep_scroll = true
